body {
	color: #3e3e3e;
	font: 12px Tahoma, sans-serif;
	background: #fcfcfc;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

img {
	border: 0;
}

p {
	font-size: 1.1em;
}

button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	font-family: 'Oswald', sans-serif;
}

nav {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
}

#heading {
	background: transparent url(../images/h1-bg.png);
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: #3e3e3e;
	font: 3vw 'Oswald', sans-serif;
	background: #fcfcfc;
	margin: 0;
	padding: 0 10px;
}



#wrapper {
	max-width: 960px;
	margin: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.card>h2 {
	font: 1.5rem 'Oswald', sans-serif;
	font-weight: 300;
	margin-top: 2px;
	margin-bottom: 0.5em;
	color: #29c5e6;
}

.container>h3 {
	font: 1.5rem 'Oswald', sans-serif;
	margin-top: 2px;
	margin-bottom: 5px;
}

.container>h4 {
	font: 1.2em 'Tahoma';
	font-weight: 500;
	margin-top: 2px;
	margin-bottom: 5px;
}


.container>h5 {
	font: 25px 'Oswald', sans-serif;
	font-weight: 300;
	margin-top: 2px;
	margin-bottom: 5px;
}

.container>h6 {
	font: 15px 'Tahoma', sans-serif;
	font-weight: 300;
	margin-top: 2px;
	margin-bottom: 1em;
	color: #29c5e6;
}

h2>span {
	margin-right: 0.5em;
}


.fa {
	margin-right: 0.5em;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.tag {
	color: #fff;
	background-color: #29c5e6;
	border-radius: 4px;
	padding: 2px 4px;
}


header {
	padding: 20px 0;
}

aside {
	float: left;
	width: 250px;
}

aside>h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

.card {
	background: #ffffff;
	border: 1px solid #e7e7e7;
	padding: 1.2em;
	margin-bottom: 2em;
	border-radius: 16px;
	box-shadow: 0 0 8px 0 #dddddd;

}


.top-menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display: table;
}

.top-menu li {
	display: table-cell;
	position: relative;
	bottom: 0;
	transition: all 0.3s ease 0s;

}

.progress-container {
	position: relative;
	margin: 0.5em 0em 1em 0em;
	display: flex;
}

.progress-bar {
	width: 100%;
	height: 15px;
	border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
	background-color: #29c5e6;
	border-radius: 10px;
}

.progress-bar::-webkit-progress-bar {
	background-color: #b2b2b2;
	border-radius: 10px;
}

.progress-bar::-moz-progress-bar {
	background-color: #29c5e6;
	border-radius: 10px;
}

.progress-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	font-weight: bold;
	color: #000;
}

section {
	margin-left: 280px;
}

form[name="search"] {
	float: right;
}

footer {
	display: block;
	background-color: #7e7e7e;
}

nav a {
	text-decoration: none;
}

nav ul {
	display: flex;
    align-items: center;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 1vw 'Oswald', sans-serif;
	padding: 10%;
}

#top-menu {
	display: flex;
	align-items: center;
}

#top-menu li {
	display: table-cell;
	padding: 1em 2em;
	margin: 0;
	position: relative;
	bottom: 0;
	transition: all 0.3s ease 0s;
}

#top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

#top-menu a {
	color: #b2b2b2;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}

blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;

}

figure img {
	display: block;
	width: 100%;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;

}

section>figure+figure {
	margin-left: 28px;
}

p {
	margin: 20px 0;
}



figure figcaption {
	font-size: 2.2em;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 0.5em;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}

.team-row figure {
	margin-top: 20px;
}

.team-row figure+figure {
	margin-left: 43px;
}

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	height: 10vh;
	width: 100%;
	text-align: center;
	display: flex;
}

footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

footer a {
	color: #dbdbdb;
}

#twitter time a {
	color: #b4aeae;
}

footer p {
	margin: auto;
}



.container {
	padding: 0.01em 16px
}

h5 {
	font-size: 1.5em
}

#twitter {
	float: left;
	width: 300px;
}

#twitter p {
	padding-right: 15px;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div+div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(../images/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small {
	width: 16px;
	height: 16px;
	background: url(../images/social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -30px 0;
}

.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}

.rss {
	background-position: -64px 0;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}
