#gameSection {
    text-align: center;
}

h1 {
    color: #333;
}

#playButton {
    width: 20%;
    padding: 0.5% 1%;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#playButton:hover {
    background-color: #45a049;
}

#difficultyPanel {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
}

label {
    font-size: 1.2em;
}

input[type="radio"] {
    margin-right: 1%;
}

#errorText {
    margin: 5%;
    font-size: 1.2em;
}
